In [222]:
from sklearn import set_config
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

In [223]:
a=pd.read_csv("dataset/train.csv")

In [224]:
a.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [225]:
a.drop(columns=["PassengerId","Name","Ticket","Cabin"],inplace=True,axis=1)

In [226]:
x=a.iloc[:,1:8]

In [227]:
x

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         3    male  22.0      1      0   7.2500        S
1         1  female  38.0      1      0  71.2833        C
2         3  female  26.0      0      0   7.9250        S
3         1  female  35.0      1      0  53.1000        S
4         3    male  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2    male  27.0      0      0  13.0000        S
887       1  female  19.0      0      0  30.0000        S
888       3  female   NaN      1      2  23.4500        S
889       1    male  26.0      0      0  30.0000        C
890       3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [228]:
y=a[["Survived"]]

In [229]:
y

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [230]:
from sklearn.model_selection import train_test_split

In [231]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=0,test_size=0.2)

In [232]:
xtrain

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
140       3  female   NaN      0      2  15.2458        C
439       2    male  31.0      0      0  10.5000        S
817       2    male  31.0      1      1  37.0042        C
378       3    male  20.0      0      0   4.0125        C
491       3    male  21.0      0      0   7.2500        S
..      ...     ...   ...    ...    ...      ...      ...
835       1  female  39.0      1      1  83.1583        C
192       3  female  19.0      1      0   7.8542        S
629       3    male   NaN      0      0   7.7333        Q
559       3  female  36.0      1      0  17.4000        S
684       2    male  60.0      1      1  39.0000        S

[712 rows x 7 columns]

In [233]:
xtest

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
495       3    male   NaN      0      0   14.4583        C
648       3    male   NaN      0      0    7.5500        S
278       3    male   7.0      4      1   29.1250        Q
31        1  female   NaN      1      0  146.5208        C
255       3  female  29.0      0      2   15.2458        C
..      ...     ...   ...    ...    ...       ...      ...
780       3  female  13.0      0      0    7.2292        C
837       3    male   NaN      0      0    8.0500        S
215       1  female  31.0      1      0  113.2750        C
833       3    male  23.0      0      0    7.8542        S
372       3    male  19.0      0      0    8.0500        S

[179 rows x 7 columns]

In [234]:
ytrain

     Survived
140         0
439         0
817         0
378         0
491         0
..        ...
835         1
192         1
629         0
559         1
684         0

[712 rows x 1 columns]

In [235]:
ytest

     Survived
495         0
648         0
278         0
31          1
255         1
..        ...
780         1
837         0
215         1
833         0
372         0

[179 rows x 1 columns]

In [236]:
tr1=ColumnTransformer(transformers=[
    ("tr",SimpleImputer(),[2]),
    ("trr",SiÌ¥mpleImputer(strategy="most_frequent"),[6])
],remainder="passthrough")

In [237]:
tr2=ColumnTransformer(transformers=[
    ("www",OneHotEncoder(sparse=False,handle_unknown="ignore"),[1,6])
],remainder="passthrough")

In [238]:
tr3=ColumnTransformer(transformers=[
    ("tr",MinMaxScaler(),slice(0,10))
])

In [239]:
tr4=SelectKBest(score_func=chi2,k=8)

In [240]:
tr5=DecisionTreeClassifier()

In [241]:
pipe=Pipeline([
    ("tr1",tr1),
    ("tr2",tr2),
    ("tr3",tr3),
    ("tr4",tr4),
    ("tr5",tr5),
])

In [242]:
pipe.fit(xtrain,ytrain)

Pipeline(steps=[('tr1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('tr', SimpleImputer(), [2]),
                                                 ('trr',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('tr2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('www',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('tr3',
                 ColumnTransformer(transformers=[('tr', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('tr4',
                 SelectKBest(k=8,
                             score_func=<function chi2 at 0x0000029D4DE11160>)),
                ('tr5', DecisionTreeClassifier())])

In [275]:
pipe.named_steps

{'tr1': ColumnTransformer(remainder='passthrough',
                   transformers=[('tr', SimpleImputer(), [2]),
                                 ('trr', SimpleImputer(strategy='most_frequent'),
                                  [6])]),
 'tr2': ColumnTransformer(remainder='passthrough',
                   transformers=[('www',
                                  OneHotEncoder(handle_unknown='ignore',
                                                sparse=False),
                                  [1, 6])]),
 'tr3': ColumnTransformer(transformers=[('tr', MinMaxScaler(), slice(0, 10, None))]),
 'tr4': SelectKBest(k=8, score_func=<function chi2 at 0x0000029D4DE11160>),
 'tr5': DecisionTreeClassifier()}

In [276]:
pred=pipe.predict(xtest)

In [277]:
pred

array([1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0], dtype=int64)

In [278]:
ytest

     Survived
495         0
648         0
278         0
31          1
255         1
..        ...
780         1
837         0
215         1
833         0
372         0

[179 rows x 1 columns]

In [279]:
accuracy_score(ytest,pred)

0.6759776536312849

In [282]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

In [287]:
cross_val_score(pipe,xtrain,ytrain,cv=5,scoring="accuracy",verbose=0).mean()

0.6152171771890081

In [293]:
params={
    "tr5__max_depth":[1,2,3,4,5,None]
}
params

{'tr5__max_depth': [1, 2, 3, 4, 5, None]}

In [294]:
grid=GridSearchCV(pipe,params,cv=5,scoring="accuracy")

In [295]:
grid.fit(xtrain,ytrain)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('tr1',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('tr',
                                                                         SimpleImputer(),
                                                                         [2]),
                                                                        ('trr',
                                                                         SimpleImputer(strategy='most_frequent'),
                                                                         [6])])),
                                       ('tr2',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('www',
                                                                         OneHotEncoder(handle_unknown='ignore',
                                                                                       sparse=False),
                                                                         [1,
                                                                          6])])),
                                       ('tr3',
                                        ColumnTransformer(transformers=[('tr',
                                                                         MinMaxScaler(),
                                                                         slice(0, 10, None))])),
                                       ('tr4',
                                        SelectKBest(k=8,
                                                    score_func=<function chi2 at 0x0000029D4DE11160>)),
                                       ('tr5', DecisionTreeClassifier())]),
             param_grid={'tr5__max_depth': [1, 2, 3, 4, 5, None]},
             scoring='accuracy')

In [296]:
grid.best_score_

0.6152171771890081

In [297]:
grid.best_params_

{'tr5__max_depth': 5}

In [298]:
import pickle

In [303]:
pickle.dump(pipe,open("pickle.pkl","wb"))